.container {
  width: 1170px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color:black;
}

/* ヘッダー */
header{
  width: 100%;
  height: 70px;
  top: 0;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.header-logo{
  width: 150px;
  height:50px;
  float: left;
}

.header-right{
  float: right;
  font-size: 12px;
}

header li{
  list-style: none;
  float: left;
  padding-right: 40px;
}

/* メニュー */
.menu{
  background-color: rgba(167, 214, 241, 0.521);
  font-size: 15px;
  padding:12px 0;
  text-align: center;
  width: 100%; 
  margin-top: 70px;
}

.menu-btn{
  padding: 8px 30px;
  opacity: 0.7;
  color: black;
  display: inline-block;
  margin:0 30px;
  transition: all 0.9s;
}

.menu-btn:hover {
  opacity: 1;
  background-color: white;
  font-size: 18px;
  }

.fa{
  padding-right: 10px;
}

/* トップ部分 */
.top-wrapper{
  position: relative;
  width: 1170px;
  height: 450px;
  margin: 0 auto;
  background: url(https://raw.githubusercontent.com/ayanatravel/ATA-japan/main/images/hotel.webp) ;
  background-size: cover;
  background-color:rgba(248, 246, 246, 0.6);
  background-blend-mode:lighten;
}
 
.top-title{
  position: absolute;
  font-size: 40px;
  padding-left: 60px;
  padding-top: 20px;
  color: rgba(75, 75, 75, 0.8);
}

.top-wrapper p{
  font-size: 15px;
  color: rgb(58, 56, 56);
  margin-bottom: 3px;
}

input{
  border: 3px solid gray;
  width: 400px;
  height: 50px;
  float: right;
}

.search{
  padding-left: 100px;
  padding-top: 160px;
  float: left;
}

.date{
  padding-right: 100px;
  padding-top: 160px;
  float: right;
}

.people-number{
  padding-left: 100px;
  padding-top: 280px;
}

select{
  border: 3px solid gray;
  width: 400px;
  height: 50px;
}

.submit input{
  width: 100px;
  margin-right: 250px;
}

/* 地図検索 */
.japan-map{
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: table;
}

.heading{
    text-align: center;
    padding: 10px 0px ;
    background-color: rgba(167, 214, 241, 0.521);
    height: 28px;
    margin-bottom: 30px; 
    margin-top: 30px;
}

.area-btn{
  position:absolute;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  padding:0 10px;
  transition: all 0.7s;
  opacity: 0.8;
}

.area-btn:hover {
  opacity: 1;
  background-color: white;
  font-size: 18px;
  }

.area1{
  top: 37%;
  right: 29.5%;
  width: 110px;
  background-color: rgba(88, 128, 236, 0.7);
  border: 3px solid rgba(88, 128, 236);
}

.area2{
  top: 65%;
  right: 30%;
  width: 70px;
  background-color: rgba(0, 128, 58, 0.7);
  border: 3px solid rgba(0, 128, 58);
}

.area3{
  top: 62%;
  right: 39%;
  width: 70px;
  background-color: rgba(224, 228, 15, 0.7);
  border: 3px solid rgba(224, 228, 15);
}

.area4{
  top: 70%;
  right: 45%;
  width: 70px;
  background-color: rgba(236, 86, 86, 0.7);
  border: 3px solid rgba(236, 86, 86);
}

.area5{
  top: 65%;
  left: 37%;
  width: 90px;
  background-color: rgba(86, 236, 236, 0.7);
  border: 3px solid rgba(86, 236, 236);
}

.area6{
  top: 72%;
  left: 27%;
  width: 90px;
  background-color: rgba(255, 166, 0, 0.7);
  border: 3px solid rgba(255, 166, 0);
}

.area-overlay{
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #111;
  opacity: 0.5;
  cursor: pointer;
}

/* 選択前は表示を隠す */
.pref-area{
  display: none;
}

.pref-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: #FFF;}

.pref-list > div{
  width: 50%;
  border: 1px solid #CCC;
  font-weight: bold;
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 8px 0;
  box-sizing: border-box;
}

/* 人気エリアから探す */
.popular-heading{
  padding: 10px 0px ;
  background-color: rgba(167, 214, 241, 0.521);
  height: 28px;
  text-align: center;
}

.popular-area{
  display: flex;
}

.popular-area p{
  background-color: rgba(104, 103, 103, 0.8);
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  color: white;
}

.popular-area li{
  margin-top: 10px;
  color: white;
}

.popular-area ol{
  counter-reset: li;
}

.popular-area ol > li {
	list-style: none;
	position: relative;/*リストの項目の位置を基準に */
	padding-left: 2em;
}

.popular-area ol > li:before {
    counter-increment: li;
    content: counter(li);
    /* margin-right: 1em; */
    background-color: rgba(128, 0, 0, 0.801); 
    border: 1px solid maroon; 
    color: #ffffff; /*白*/
    border-radius: 50%; /*丸く*/
    text-align: center; /*端に寄ってる数字を真ん中に*/
    width: 1.3em; /*幅を決めるheightと同じ数値に*/
    height: 1.3em; /*高さ。widthと同じ数値に。数値変更した場合はline-heightで調整を*/
    position: absolute; /*リストの基準から移動させる*/
    left: 0em; /*項目の基準、左にあわせる*/
    top: 1px; /*基準の上から2pxの位置に表示。テーマによって位置がずれる場合は修正を*/
    line-height: 1.4;/*数字の位置あわせで数値を指定*/
  }

.family {
  width: 100%;
  float:left;
  margin: 0 20px;
  background-image: url(https://raw.githubusercontent.com/ayanatravel/ATA-japan/main/images/family.webp);
  background-size: cover;
  background-color:rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;
}

.themepark{
  width: 100%;
  float: left;
  margin: 0 20px;
  background-image: url(https://github.com/ayanatravel/ATA-japan/blob/main/images/themepark.jpg?raw=true);
  background-size: cover;
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
}

.onsen{
  width: 100%;
  float:left;
  margin: 0 20px;
  background-image: url(https://github.com/ayanatravel/ATA-japan/blob/main/images/onsen.jpg?raw=true);
  background-size: cover;
  background-color:rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;
}

/* フッター */
footer{
  width: 100%;
  height: 50px;
  background-color: white;
  top: 0;
  border-top:  rgba(167, 214, 241, 0.521) solid 1px;
  margin-bottom: 40px;
}

.footer-list a{
  color: black;
  font-size: 14px;
  text-align: center;
}

.footer-list li{
  padding-left: 30px;
    list-style: none;
    float: left;
    padding-right: 20px;
}

.footer-right{
  font-size: 10px;
  color: gray;
  float: right;
}
